.col-lg-12{
	padding-left: 0px;
	padding-right: 0px;
}
img{
	
	
	width: 100%;
}
hr{
  border:solid 1px;
	border-color:black;
}
body{
	background-image:url(images/b1.jpg);
	background-size: cover;
	background-attachment: fixed;
	
	
}
h3{
	
	
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.navbar{
border-radius:0px;
width:100%;	
	background-color: black !important;
}
.fa{
	text-decoration:none;
	padding:8px;
color:black;	
        
}
.fa:hover{
	    text-decoration:none;
	opacity:0.7;
	
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
     
	margin-left:70px;
	 }
	 .navbar-inverse .navbar-nav>li>a:hover{
		opacity:0.7;
	 }
	 .navbar-inverse .navbar-brand{
		color:white; 
	 }
	 .btn-default{
		background-color:black;
		color:white;
		height:30px; 
		 
	 }
	
 p{ padding-top:200px;
 text-align-last:left;
	font-size:28px;
	color:black;
	padding-left:20px; 
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	a{
	color:white;	
	}
a:hover{
	text-decoration:none;
	opacity:0.7;
	color:red;
	
}

.background {
  background:no-repeat;
 
  background-size:cover;
  height:400px;
  width:100%;
}

	img{box-shadow:0 0 10px black;}


.col-lg-3{
	background:#666;	
	color:white;
	font-size:18px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
height:320px;
background-color:black;
	padding-left: 0px;
	padding-right: 0px;
	
}
#icon{
	text-align:center;
 
background-repeat: no-repeat; 
background-position: 20px 80px;
}
.container-fluid{
width:100%;	
}
